---
import { Image } from "astro:assets";
import Logo from "./public/logo/Logo.svg";
import Container from "@/components/Container.astro";
import Link from "@/components/Link.astro";
import { SITE } from "@/consts";
---

<header>
  <Container>
    <div class="flex flex-wrap items-center gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <!-- Left side -->
        <Image
          class="dark:invert"
          src={Logo}
          alt=""
          media="(prefers-color-scheme: light)"
          inferSize={true}
          decoding="async"
          loading="lazy"
        />
        <!-- Right side -->
      </Link>
      <nav class="flex gap-1 text-xl">
        <!-- <Link href="/blog"> Blog </Link> -->
        <!-- <span> -->
        <!-- {`•`} -->
        <!-- </span> -->
        <!-- <Link href="/projects"> Projects </Link> -->
        <!-- <span> -->
        <!-- {`•`} -->
        <!-- </span> -->
        <Link href="/resume"> Resume </Link>
      </nav>
    </div>
  </Container>
</header>
